################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


**/.vs/
**/Lib/
/.vs/TopSolidKernelAutomationExamples/v16/.suo
/.vs/VSWorkspaceState.json
/TopSolidKernelAutomationExamples/DocumentManager/obj
/TopSolidKernelAutomationExamples/ExportManager/obj
/TopSolidKernelAutomationExamples/FamilyManager/obj
/TopSolidKernelAutomationExamples/InclusionManager/obj
/TopSolidKernelAutomationExamples/Lib/Logs
/TopSolidKernelAutomationExamples/Lib/Parameter_Manager_TestData
/TopSolidKernelAutomationExamples/ProjectOrganizer/obj
/TopSolidKernelAutomationExamples/RevisionManager/obj
/TopSolidKernelAutomationExamples/TopSolidAutomationControls/obj
/TopSolidKernelAutomationExamples/.vs/TopSolidKernelAutomationExamples/v17/.suo
/.vs/TopSolidKernelAutomationExamples/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cad.Design.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cad.Drafting.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cam.NC.Kernel.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Kernel.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Kernel.SX.NetStandard.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cad.Design.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cad.Drafting.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Cam.NC.Kernel.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Kernel.Automating.dll
/TopSolidKernelAutomationExamples/Lib/TopSolid.Kernel.SX.NetStandard.dll
